.chart-wrapper {
  position: relative;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-title {
  color: #1E3A8A;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.chart-wrapper canvas {
  max-width: 100% !important;
  max-height: 100% !important;
}
